doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='https://appservice.azureedge.net/css/v2.min.css')
  body
    .wrapper
      .innerwrapper
        block innerwrapper

    .content
      block content
    .bottomContent
    .bodyContent
    .bottom
      img.treesSvg(src='https://appservice.azureedge.net/images/trees.svg')